<%= link_to biography_path(biographie) do %>
  <div class="clown-card-container">
    <div class="clown-thumb">
      <img src=<%= biographie.poster %>>
    </div>
    <div class="name">
      <h3><%= biographie.name %></h3>
      <span><%= biographie.clown_name %></span>
    </div>
    <% if current_user %>
      <%= link_to "Supprimer", biography_path(biographie), data: { turbo_method: :delete, turbo_confirm: "Ce clown sera supprimé. Confirmer ?" }, class: :button %>
    <% end %>
  </div>
<% end %>