<div class="wrapper-main" data-controller="forms">
  <h2>CRÉER UNE NOUVELLE BIOGRAPHIE</h2>
  <%= form_with model: @biographie do |f| %>

    <%= f.label "Nom d'humain :" %><br>
    <%= f.text_field :name, required: true %><br /><br />

    <%= f.label "Nom de clown :" %><br />
    <%= f.text_field :clown_name  %><br /><br />

    <%= f.label "Lien vers la photo principale (format carré obligatoire) :" %><br />
    <%= f.text_field :poster, required: true %><br /><br />

    <%= f.label "Biographie:" %><br />
    <%= f.rich_text_area :biography, class: "trix-content-edit" %><br /><br />
    
    <div class="form-gallery" data-forms-target="gallery">
      <div class="gallery-preview" data-forms-target="preview">
      </div>
      <%= f.label "Liens vers les images:"%><br />
      <%= f.fields_for :gallery do |g| %>
        <%= f.label "Image 1:" %><br />
        <%= g.text_field "image_1" %><br />
        <br /><a class="button" data-forms-target="btn" data-action="click->forms#addBiographyImageInput">Ajouter une image</a><br /><br />
      <% end %>
    </div>

    <%= f.submit "Créer un nouveau clown", class: "trix-button" %>
  <% end %>
</div>