<div class="wrapper-main">
  <div class="biography-content">
    <h2><%= @biographie.name %> <%= @biographie.clown_name? ? "/ #{@biographie.clown_name}" : "" %></h2>
    <% if current_user %>
      <%= link_to "Modifier", edit_biographie_path(@biographie), class: :button %>
    <% end %>
    <div class="main-content">
      <%= @biographie.biography %>
    </div>
  </div>
  <div class="gallery">
    <% @biographie.gallery.each do |image| %>
      <img src=<%= image %>>
    <% end %>
  </div>
</div>