<div class="wrapper-main" data-controller="forms">
  <h2>MODIFIER LE SPECTACLE</h2>
  <%= form_with model: @spectacle do |f| %>
    <%= f.label "Nom du spectacle:" %><br>
    <%= f.text_field :title, required: true %><br /><br />

    <%= f.label "Type de public:" %><br />
    <%= f.text_field :public, required: true %><br /><br />

    <%= f.label "Durée:" %><br />
    <%= f.text_field :length, required: true %><br /><br />

    <%= f.label "Lien vers l'affiche (format A4 ou vertical):" %><br />
    <%= f.url_field :poster %><br /><br />

    <%= f.label "Lien vers le PDF du spectacle: " %><br />
    <%= f.url_field :tech_file %><br /><br />

    <%= f.label "Lien vers le teaser / la vidéo du spectacle: " %><br />
    <%= f.url_field :video_url %><br /><br />

    <%= f.label "Le spectacle est-il un spectacle d'Etincelle ?" %><br />
    <%= f.label "Etincelle" %>
    <%= f.radio_button :other_company, false, required: true %><br />
    <%= f.label "Autre compagnie" %>
    <%= f.radio_button :other_company, true %><br /><br />

    <%= f.label "Le spectacle est-il toujours à l'affiche ?" %><br />
    <%= f.label "A l'affiche" %>
    <%= f.radio_button :older, false %><br />
    <%= f.label "Ancien spectacle" %>
    <%= f.radio_button :older, true %><br /><br />

    <%= f.label "Description courte du spectacle (max 350 caractères):" %><br />
    <%= f.text_area :description, size: "80x5", required: true, minlength: 80, maxlength: 350 %><br /><br />

    <%= f.label "Description complète (celle qui apparaîtra sur la page du spectacle) :" %><br />
    <%= f.rich_text_area :full_description, class: "trix-content-edit", required: true %><br /><br />

    <div class="form-gallery" data-forms-target="gallery">
      <div class="gallery-preview" data-forms-target="preview">
        <% @spectacle.gallery.each do |image| %>
          <img src=<%= image %>>
        <% end %>
      </div>
      <%= f.label "Liens vers les images:"%><br />
      <%= f.fields_for :gallery do |g| %>
        <%= f.label "Image 1:" %><br />
        <%= g.text_field "image_1" %><br /><br />
        <a class="button" data-forms-target="btn" data-action="click->forms#addSpectacleImageInput">Ajouter une image</a><br /><br />
      <% end %>
    </div>

    <%= f.submit "Mettre à jour le spectacle", class: "trix-button" %>
  <% end %>
</div>