<div class="wrapper-main">
  <div class="titles">
    <h2><%= @spectacle.title %></h1>
    <%= link_to "Dossier complet (PDF)", @spectacle.tech_file, target: "_blank", class: :button %>
  </div>
  <div class="main-content">
    <%= @spectacle.full_description %>
  </div>
  <% if @spectacle.video_url %>
    <div class="embed-video">
      <iframe width="560" height="315" src="<%= @spectacle.embed_video %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  <% end %>
  <div class="gallery">
    <% @spectacle.gallery.each do |image| %>
      <img src=<%= image %>>
    <% end %>
  </div>
</div>
