<div class='event-container'>
  <div class='image'>
    <img src="<%= event.poster_url.present? ? event.poster_url : image_url("placeholder.jpg") %>" id='affiche'>
  </div>
  <div class='content'>
    <h3><%= event.title %></h3>
    <span class='event-info'><%= event.public %> - <%= event.length %> min</span>
    <p class='short-description'><%= event.description %></p>
    <div class="event-links">
      <% if current_user %>
        <%= link_to "Supprimer", event_path(event), data: { turbo_method: :delete }, class: :button %>
      <% end %>
      <%= link_to 'Réserver', event.reservation_link.present? ? event.reservation_link : contact_path, html_options={ target: :blank } %>
    </div>
  </div>
  <div class="decoration"></div>
</div>