<div class="footer">
  <div class="footer-content">
    <div class="title">
      <h4>Etincelle Bouillasse</h4>
      <span>2022</span>
    </div>
    <div class="links">
      <ul>
        <li><%= link_to "Accueil", root_path %></li>
        <li><%= link_to "La compagnie", biographies_path %></li>
        <li><%= link_to "Agenda", agenda_path %></li>
        <li><%= link_to "Créations", spectacles_path %></li>
        <li><%= link_to "Apprendre", apprendre_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
  </div>
</div>
