<div class="navbar-wrapper">
  <div class="nav-container">
    <h1>Etincelle Bouillasse</h1>
    <ul class="nav-buttons">
      <li class="nav-button"><%= link_to "Accueil", root_path %></li>
      <li class="nav-button"><%= link_to "La compagnie", biographies_path %></li>
      <li class="nav-button"><%= link_to "Agenda", agenda_path %></li>
      <li class="nav-button"><%= link_to "Apprendre", apprendre_path %></li>
      <li class="nav-button"><%= link_to "Pour les pros", spectacles_path %></li>
      <li class="nav-button"><%= link_to "Contact", contact_path %></li>
      <% if current_user %>
        <li class="nav-button"><%=link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete } %></li>
      <% end %>
    </ul>
  </div>
</div>