<div class="navbar-wrapper" data-controller="burger">
  <div class="nav-container">
    <%= link_to root_path do %>
      <div id="neon-sign">
        <h1 id='main-title'>ETINCELLE BOUILLASS<span id="broken-neon">E</span></h1>
        <div class="spark spark-1"></div>
        <div class="spark spark-2"></div>
        <div class="spark spark-3"></div>
      </div>
    <% end %>
    
    <div class="menu btn1" data-menu="1" data-burger-target="button" data-action="click->burger#openMenu">
      <div class="icon-left"></div>
      <div class="icon-right"></div>
    </div>
    <ul class="nav-buttons" data-burger-target="menu">
      <%= link_to root_path do %><li class="button <%=is_active('pages', 'home')%>">Accueil</li><% end %>
      <%= link_to biographies_path do %><li class="button <%=is_active('biographies', 'index')%>">La compagnie</li><% end %>
      <%= link_to agenda_path do %><li class="button <%=is_active('events', 'index')%>">Agenda</li><% end %>
      <%= link_to spectacles_path do %><li class="button <%=is_active('spectacles', 'index')%>">Créations</li><% end %>
      <%= link_to apprendre_path do %><li class="button <%=is_active('pages', 'apprendre')%>">Apprendre</li><% end %>
      <%= link_to contact_path do %><li class="button <%=is_active('pages', 'contact')%>">Contact</li><% end %>
      <% if current_user %>
        <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %><li class="button">Déconnexion</li><% end %>
      <% end %>
    </ul>
  </div>
</div>