<div>
  <ul>
    <li><%= link_to "La Compagnie", biographies_path %></li>
    <li><%= link_to "Apprendre", apprendre_path %></li>
    <li><%= link_to "Calendrier", calendrier_path %></li>
    <li><%= link_to "Pour les pros", spectacles_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
  </ul>
</div>