<div class='spectacle-container'>
  <div class='image'>
    <img src="<%= spectacle.poster.present? ? spectacle.poster : image_url("placeholder.jpg") %>" id='affiche'>
  </div>
  <div class='content'>
    <h3><%= spectacle.title %></h3>
    <span class='spectacle-info'><%= spectacle.public %> - <%= spectacle.length %> min</span>
    <p class='short-description'><%= spectacle.description %></p>
    <%= link_to 'En savoir plus', spectacle_path(spectacle) %>
  </div>
  <div class="decoration"></div>
</div>