<div class="wrapper-main">
  <h2>NOUS CONTACTER</h2>
  <iframe class="map" width="100%" height="600" frameborder="0" scrolling="no" src="https://www.openstreetmap.org/export/embed.html?bbox=1.511199474334717%2C48.99346389169854%2C1.5147399902343752%2C48.99504779303766&amp;layer=mapnik&amp;marker=48.99425584866304%2C1.512969732284546"></iframe>
  <div class="contact-info">
    <span>2 Chemin du Village</span><br />
    <span>78270 Lommoye</span><br />
    <span>+33 6 60 20 57 94</span><br />
    <span>contact@etincellebouillasse.fr</span>
  </div>
  <div class="contact-links">
    <%= link_to "https://www.instagram.com/etincellebouillasse/", target: "blank" do %><%= image_tag "Instagram.png", class: "logo" %><% end %>
    <%= link_to "https://www.youtube.com/channel/UCKvzTv04_US_lK0Mu5hPgmw", target: "blank" do %><%= image_tag "Youtube.png", class: "logo" %><% end %>
    <%= link_to "https://www.facebook.com/olivier.guitel", target: "blank" do %><%= image_tag "Facebook.png", class: "logo" %><% end %>
  </div>
  <h3 id="newsletter">Abonnez-vous à notre newsletter!</h3>
  <script async src="https://eomail6.com/form/610ea48b-9a14-11ec-9258-0241b9615763.js" data-form="610ea48b-9a14-11ec-9258-0241b9615763"></script>
</div>
